{
  "extends": ["airbnb", "prettier"],
  "globals": {
    "document": "readonly",
    "fetch": "readonly",
    "window": "readonly",
    "FormData": "readonly",
    "localStorage": "readonly"
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "enforceInMethodNames": false,
        "allowAfterThis": true,
        "allowAfterThisConstructor": true
      }
    ]
  }
}
