.button {
  background-color: #fbc928;
  border: 4px solid #f2bc05;
  border-radius: 7px;
  padding: 5px 0 0;
  font-size: 30px;
  line-height: 32px;
  color: #27306b;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s ease-in-out;
  min-height: 56px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 50%;
  height: 200%;
  background-color: #27306b;
  transform-origin: 0 90%;
  transition: transform .2s ease;
}

.button:hover {
  border-color: #27306b;
}

.button:hover::before {
  transform: rotate(-55deg);
}

.button:active {
  transform: translateY(-4px);
}

.button_style_dark {
  background-color: #27306b;
  border: 4px solid #1e296e;
  color: #fff;
}

.button_style_dark::before {
  background-color: #fbc928;
}

.button_style_dark:hover {
  border-color: #fbc928;
}

.button_type_text {
  text-transform: initial;
  border: none;
  background: none;
  font-size: inherit;
  line-height: inherit;
  color: #27306b;
  font-weight: inherit;
  padding: 0;
  display: inline;
  transition: opacity .3s ease-out;
  min-height: 100%;
  height: 100%;
  text-align: start;
  border-radius: 0;
}

.button_type_text::before {
  content: none;
}

.button_type_text:hover {
  opacity: .6;
}

.button_type_text:active {
  transform: translate(0);
}

@media screen and (max-width: 1600px){
  .button {
    font-size: 26px;
    line-height: 27px;
    min-height: 48px;
  }
  .button_type_text {
    font-size: inherit;
    min-height: auto;
    line-height: inherit;
  }
}

@media screen and (max-width: 1024px){
  .button {
    font-size: 24px;
  }
  .button_type_text {
    font-size: inherit;
    min-height: auto;
  }
}
