.brands {
  padding: 32px 0;
}

.brands__container {
  margin: 32px auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(10 / 12 * 100% - 2 * 32px);
  overflow: hidden;
}

.brands__image {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0;
  object-fit: contain;
}

@media screen and (max-width: 1600px) {
  .brands {
    padding: 27px 0;
  }
  .brands__container {
    margin: 27px auto 0;
  }
  .brands__image {
    margin-right: 27px;
  }
}

@media screen and (max-width: 1024px) {
  .brands__container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .brands {
    padding: 26px 0;
  }
  .brands__container {
    margin: 26px auto 0;
  }
  .brands__image {
    display: block;
    margin-right: 26px;
  }
}

@media screen and (max-width: 550px) {
  .brands {
    padding: 20px 0;
  }
  .brands__container {
    margin: 20px auto 0;
  }
  .brands__image {
    display: block;
    margin-right: 20px;
  }
}
