.order-form__wrap {
  background-color: #fff;
  margin: 0 auto;
  width: calc(6 / 12 * 100% - 6 / 12 * 32px);
  padding: 32px 32px 64px;
  border: 1px solid #e1e1e1;
  min-height: calc(100vh - 32px - 64px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.order-form__info {
  font-family: 'Oswald' ,sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: #121212;
  margin: 32px 0 64px;
}

.order-form__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.order-form__fieldset {
  padding: 32px 16px 64px;
  border: 1px solid #e1e1e1;
  background-color: #f6f6f6;
  position: relative;
  display: grid;
  gap: 32px 10px;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: space-around;
  margin-bottom: 64px;
  flex-grow: 1;
}


.order-form__legend {
  font-family: 'Oswald' ,sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  color: #27306B;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.order-form__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.order-form__input:checked + .order-form__input-image {
  opacity: 1;
}

.order-form__label {
  cursor: pointer;
}

.order-form__label:hover .order-form__input-image {
  opacity: 1;
}

.order-form__input-image {
  display: block;
  margin: 0 auto;
  min-height: 150px;
  opacity: .5;
  transition: .3s ease;
}

.order-form__input-title {
  margin: 0;
  font-family: 'Oswald' ,sans-serif;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  color: #2f2f2f;
  text-align: center;
}

.order-form__menu-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.order-form__button-wrap {
  flex-grow: 1;
  flex-basis: 30%;
}

.order-form__wrap_pos_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.order-form__button {
  width: auto;
  padding: 0 42px 0;
  margin-bottom: 0;
}

.order-form__stages-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  height: 5px;
  margin: 0 auto;
}

.order-form__stage {
  width: 25px;
  height: 100%;
  border-radius: 3px;
  background-color: #27306B;
}

.order-form__stages-wrap::before {
  content: '';
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  position: absolute;
  top: 2.5px;
  left: 12.5px;
  transform: translate(calc(-50% + 0px), -50%);
  border: 2px solid #FFDA49;
  border-radius: 50%;
  background-color: #FFE88E;
}


@media screen and (max-width: 1440px) {
  .order-form__wrap {
    width: calc(6 / 12 * 100% - 6 / 12 * 27px);
    padding: 27px 27px 54px;
    min-height: calc(100vh - 27px - 54px);
  }
  .order-form__info {
    font-size: 18px;
    line-height: 27px;
    margin: 27px 0 54px;
  }
  .order-form__fieldset {
    padding: 27px 14px 54px;
    gap: 27px 5px;
    grid-template-columns: repeat(auto-fit, 140px);
    margin-bottom: 54px;
    flex-grow: 1;
  }
  .order-form__legend {
    font-size: 22px;
    line-height: 27px;
  }
  .order-form__input-image {
    min-height: 140px;
  }
  .order-form__input-title {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (max-width: 1230px) {
  .order-form__wrap {
    width: calc(8 / 12 * 100% - 4 / 12 * 27px);
  }
}

@media screen and (max-width: 964px) {
  .order-form__wrap {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .order-form__wrap {
    padding: 26px 26px 52px;
  }
  .order-form__info {
    font-size: 18px;
    line-height: 26px;
    margin: 26px 0 52px;
  }
  .order-form__fieldset {
    padding: 26px 13px 52px;
    gap: 26px 5px;
    grid-template-columns: repeat(auto-fit, 130px);
    margin-bottom: 54px;
    flex-grow: 1;
  }
  .order-form__legend {
    line-height: 26px;
  }
  .order-form__input-image {
    min-height: 130px;
  }
  .order-form__input-title {
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width: 550px) {
  .order-form__wrap {
    padding: 20px 20px 40px;
  }
  .order-form__info {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0 40px;
  }
  .order-form__fieldset {
    padding: 20px 10px 40px;
    gap: 20px 4px;
    grid-template-columns: repeat(auto-fit, 100px);
    margin-bottom: 40px;
    flex-grow: 1;
  }
  .order-form__legend {
    font-size: 18px;
    line-height: 20px;
  }
  .order-form__input-image {
    min-height: 100px;
    margin-bottom: 5px;
  }
  .order-form__input-title {
    font-size: 16px;
    line-height: 20px;
  }
  .order-form__menu-wrap {
    flex-wrap: wrap;
  }
  .order-form__stages {
    width: 100%;
    order: -1;
    margin-bottom: 20px;
  }
}
