.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-sizing: border-box;
  padding: 32px;
  width: calc(6 / 12 * 100% - 6 / 12 * 32px);
  max-width: calc(668px + 64px);
  box-sizing: border-box;
  max-height: 90vh;
}

.closeButton {
  position: absolute;
  top: -36px;
  right: -36px;
  width: 32px;
  height: 32px;
  background-image: url(../../images/popup-close.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.closeButton:hover {
  transform: rotate(90deg);
}

.closeButton:focus {
  outline: none;
}

@media screen and (max-width: 1600px) {
  .modalContainer {
    padding: 27px;
    width: calc(6 / 12 * 100% - 6 / 12 * 27px);
  }
}

@media screen and (max-width: 964px) {
  .modalContainer {
    padding: 26px;
    width: calc(8 / 12 * 100% - 4 / 12 * 26px);
  }
}

@media screen and (max-width: 768px) {
  .modalContainer {
    padding: 20px;
    width: 90%;
  }
  .closeButton {
    width: calc(2.68vw + 11.43px);
    height: calc(2.68vw + 11.43px);
    right: calc(-8.03vw + 25.71px);
  }
}
