.title {
  text-align: right;
}

.container {
  overflow: auto;
  scrollbar-width: thin;
  padding-right: 4px;
}

.container::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0f0;
}

.container::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
}

.imageContainer {
  background-color: #d9d9d9;
  margin: 32px auto;
}

.imageWrap {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.image {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1600px) {
  .imageContainer {
    margin: 27px auto;
  }
}

@media screen and (max-width: 768px) {
  .imageContainer {
    margin: 26px auto;
  }
}

@media screen and (max-width: 425px) {
  .imageContainer {
    margin: 20px auto;
  }
  .imageWrap {
    max-width: 200px;
  }
}
