.header {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(2, minmax(27px, auto));
  gap: 0 32px;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 0;
}

.header__logo {
  grid-column: col-start / span 4;
  grid-row: 1 / 3;
  width: 100%;
  max-width: 482px;
  align-self: center;
}

.header__ya-rating-container {
  justify-self: center;
  width: 158px;
  height: 58px;
  background-color: #27306b;
  border-radius: 5px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
  grid-column: col-start 5 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ya-rating-container:hover {
  opacity: 1;
}

.header__social {
  grid-column: col-start 7 / span 3;
  align-self: start;
  justify-self: center;
}

.header__contacts {
  grid-column: col-start 10 / span 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.header__order-button {
  max-width: 280px;
  width: 100%;
  margin-bottom: 16px;
}

.header__phone-button {
  max-width: 280px;
  width: 100%;
}

.header__schedule {
  grid-column: col-start 6 / span 5;
  grid-row: 2;
  align-self: end;
  justify-self: center;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .header__schedule {
    font-size: 24px;
  }
}

@media screen and (max-width: 1600px) {
  .header__container {
    gap: 0 27px;
    padding: 27px 0;
  }
  .header__schedule {
    line-height: 27px;
  }
  .header__order-button {
    margin-bottom: 12px;
    max-width: 230px;
  }
  .header__phone-button {
    max-width: 230px;
  }
}

@media screen and (max-width: 1140px) {
  .header__schedule {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo {
    grid-column: col-start / span 5;
  }

  .header__ya-rating-container {
    grid-column: col-start 6 / span 3;
    grid-row: 1;
    justify-self: start;
    opacity: 1;
  }

  .header__social {
    grid-column: col-start 8 / span 2;
    grid-row: 1;
    justify-self: end;
  }

  .header__schedule {
    grid-column: col-start 5 / span 6;
  }
}

@media screen and (max-width: 964px) {
  .header__container {
    display: grid;
    grid-template-columns: repeat(6, [col-start] 1fr);
    grid-template-rows: repeat(2, minmax(26px, auto));
    gap: 0 26px;
    padding: 26px 0;
  }

  .header__logo {
    grid-column: col-start / span 3;
    grid-row: 1;
    max-width: 295px;
    justify-self: center;
    align-self: start;
  }

  .header__ya-rating-container {
    grid-column: col-start 2 / span 2;
    grid-row: 2;
  }

  .header__social {
    grid-column: col-start / span 1;
    grid-row: 2;
    align-self: center;
    justify-self: end;
  }

  .header__contacts {
    grid-column: col-start 4 / span 3;
    grid-row: 1;
    width: 100%;
    align-self: center;
    justify-self: center;
    align-items: center;
  }

  .header__order-button {
    max-width: 308px;
  }

  .header__phone-button {
    max-width: 308px;
  }

  .header__schedule {
    width: auto;
    grid-column: col-start 4 / span 3;
    grid-row: 2;
    font-size: 18px;
    line-height: 26px;
    justify-self: e;
    text-align: center;
  }
}


@media screen and (max-width: 550px) {
  .header__container {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr);
    grid-template-rows: repeat(4, minmax(20px, auto));
    gap: 20px;
    padding: 20px 0;
  }

  .header__logo {
    grid-column: col-start / span 4;
    grid-row: 1;
    max-width: auto;
    justify-self: center;
    align-self: start;
  }

  .header__ya-rating-container {
    grid-column: col-start 2 / span 3;
    grid-row: 2;
    justify-self: start;
    margin-left: 80px;
  }

  .header__social {
    grid-column: col-start 2 / span 1;
    grid-row: 2;
    align-self: center;
    justify-self: start;
  }

  .header__contacts {
    grid-column: col-start 1 / span 4;
    grid-row: 3;
    max-width: 308px;
    width: 100%;
    align-self: center;
    justify-self: center;
  }

  .header__schedule {
    width: auto;
    grid-column: col-start 1 / span 4;
    grid-row: 4;
    font-size: 18px;
    line-height: 26px;
    justify-self: center;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .header__ya-rating-container {
    margin-right: 0;
  }
  .header__social {
    grid-column: col-start 1 / span 2;
    justify-self: start;
    margin-left: 40px;
  }
}
@media screen and (max-width: 375px) {
  .header__ya-rating-container {
    margin-right: 20px;
    margin-left: 0;
    justify-self: end;
  }
  .header__social {
    grid-column: col-start 1 / span 2;
    justify-self: start;
    margin-left: 20px;
  }
}
