.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-bottom: 2px solid #f2bc05;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;
}

@media screen and (max-width: 1024px){
  .header {
    flex-direction: column;
    height: 230px;
  }
}

@media screen and (max-width: 700px){
  .header {
    height: 400px;
    /* min-height: 320px; */
    padding: 20px 0 30px;
    flex-wrap: nowrap;
  }
}
