.callback-form__wrap {
  background-color: #fff;
  margin: 0 auto;
  width: calc(6 / 12 * 100% - 6 / 12 * 32px);
  padding: 32px 32px 64px;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.callback-form__info {
  font-family: 'Oswald' ,sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: #121212;
  margin: 32px 0;
}

.callback-form__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.callback-form__label {
  position: relative;
  margin-bottom: 32px;
  cursor: pointer;
}

.callback-form__label_type_policy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 64px;
}

.callback-form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #27306b;
  border-radius: 6px;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #27306b;
  padding: 12px 16px 10px;
}

.callback-form__input:focus {
  outline: none;
}

.callback-form__input:focus + .callback-form__input-placeholder {
  transform: translate(0, -110%) scale(0.5);
}

.callback-form__input-placeholder {
  position: absolute;
  top: 50%;
  left: 20px;
  font-family: "Oswald",sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  color: #27306b;
  background-color: #fff;
  transition: .2s ease-out;
  z-index: 98;
  cursor: text;
  padding: 0 2px;
  transform: translate(0, -50%);
  transform-origin: 0 0;
  user-select: none;
}

.callback-form__input-placeholder_fill {
  transform: translate(0, -110%) scale(0.5);
}

.callback-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.callback-form__checkbox-pseudo {
  display: block;
  position: relative;
  top: -8px;
  left: 0;
  width: 34px;
  height: 34px;
  min-width: 34px;
  background-image: url(../../images/radio.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.callback-form__checkbox:checked + .callback-form__checkbox-pseudo {
  background-image: url(../../images/radio-check.svg);
}

.callback-form__policy-info {
  font-family: "Oswald",sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  color: #2F2F2F;
  margin: 0;
}

.callback-form__button {
  width: calc(287 / 800 * 100%);
  min-width: 250px;
  margin: 0 auto;
}


@media screen and (max-width: 1440px) {
  .callback-form__wrap {
    width: calc(6 / 12 * 100% - 6 / 12 * 27px);
    padding: 27px 27px 54px;
  }
  .callback-form__info {
    font-size: 18px;
    line-height: 27px;
    margin: 27px 0;
  }
  .callback-form__label {
    margin-bottom: 27px;
  }
  .callback-form__label_type_policy {
    margin-bottom: 54px;
  }
  .callback-form__input {
    font-size: 24px;
    line-height: 27px;
    padding: 10px 14px 8px;
  }
  .callback-form__input-placeholder {
    left: 20px;
    font-size: 24px;
    line-height: 27px;
  }

  .callback-form__policy-info {
    font-size: 24px;
    line-height: 27px;
  }
}

@media screen and (max-width: 1230px) {
  .callback-form__wrap {
    width: calc(8 / 12 * 100% - 4 / 12 * 27px);
  }
}

@media screen and (max-width: 964px) {
  .callback-form__wrap {
    box-sizing: border-box;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .callback-form__wrap {
    padding: 26px 26px 52px;
  }
  .callback-form__info {
    font-size: 18px;
    line-height: 26px;
    margin: 26px 0;
  }
  .callback-form__label {
    margin-bottom: 26px;
  }
  .callback-form__label_type_policy {
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .callback-form__checkbox-pseudo{
    width: 52px;
    height: 52px;
  }
  .callback-form__input {
    line-height: 26px;
  }
  .callback-form__input-placeholder {
    line-height: 26px;
  }
  .callback-form__policy-info {
    text-align: center;
    line-height: 40px;
  }
}

@media screen and (max-width: 550px) {
  .callback-form__wrap {
    padding: 20px 20px 40px;
  }
  .callback-form__info {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
  }
  .callback-form__label {
    margin-bottom: 20px;
  }
  .callback-form__label_type_policy {
    margin-bottom: 40px;
  }
  .callback-form__checkbox-pseudo{
    width: 40px;
    height: 40px;
  }
  .callback-form__input {
    font-size: 18px;
    line-height: 20px;
  }
  .callback-form__input-placeholder {
    font-size: 18px;
    line-height: 20px;
  }
  .callback-form__policy-info {
    font-size: 18px;
  }
}
