:global .admin-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

:global .admin-buttons__button {
  flex: 1 0 65%;
  max-width: 250px;
}

:global .admin-buttons__button_size_small{
  flex: 1 0 25%;
  margin-left: 10px;
}
