:global .form {
  position: relative;
  padding-bottom: 32px;
}

:global .form__error {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
  color: #cd1616;
}

:global .form__input {
  margin-bottom: 32px;
}

:global .form__input_pos_first {
  margin-top: 32px;
}

:global .form__submit-button {
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .error {
    font-size: 18px;
    line-height: 27px;
  }
  :global .form__input {
    margin-bottom: 27px;
  }
  :global .form__input_pos_first {
    margin-top: 27px;
  }
}

@media screen and (max-width: 768px) {
  .error {
    font-size: 18px;
    line-height: 26px;
  }
  :global .form__form__input {
    margin-bottom: 26px;
  }
  :global .form__input_pos_first {
    margin-top: 26px;
  }
}

@media screen and (max-width: 550px) {
  .error {
    font-size: 16px;
    line-height: 20px;
  }
  :global .form__input {
    margin-bottom: 20px;
  }
  :global .form__input_pos_first {
    margin-top: 20px;
  }
}
