
.news__container {
  margin: 64px auto 64px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
}

.news__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: calc(4 / 12 * 100% - 8 / 12 * 32px);
  flex-grow: 0;
  min-width: 0;
  margin: 0 32px 32px 0;
  transition: transform .3s ease;
}

.news__item:nth-child(3n) {
  margin-right: 0;
}

.news__item:hover {
  transform: translateY(-15px);
}

.news__more {
  display: block;
  margin: 0 auto;
  max-width: 180px;
  width: 100%;
}

.news__empty-message {
  margin: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  color: #202020;
}


@media screen and (max-width: 1600px) {
  .news__container {
    margin-top: 54px;
    margin-bottom: 54px;
  }
  .news__item {
    flex-basis: calc(4 / 12 * 100% - 8 / 12 * 27px);
    margin: 0 27px 27px 0;
  }
  .news__empty-message {
    font-size: 24px;
    line-height: 27px;
  }
}

@media screen and (max-width: 1024px) {
  .news__container {
    width: 100%;
    margin-top: 52px;
    margin-bottom: 52px;
  }
  .news__item {
    flex-basis: calc(4 / 12 * 100% - 8 / 12 * 26px);
    margin: 0 26px 26px 0;
  }
  .news__more {
    max-width: 150px;
  }
}

@media screen and (max-width: 964px) {
  .news__item {
    flex-basis: calc(3 / 6 * 100% - 3 / 6 * 20px);
    margin: 0 20px 20px 0;
  }
  .news__item:nth-child(3n) {
    margin-right: 20px;
  }
  .news__item:nth-child(2n) {
    margin-right: 0;
  }
  .news__empty-message {
    line-height: 26px;
  }
}

@media screen and (max-width: 550px) {
  .news__container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .news__item {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .news__item:nth-child(3n) {
    margin-right: 0px;
  }
  .news__more {
    max-width: 140px;
  }
  .news__empty-message {
    font-size: 20px;
    line-height: 20px;
  }
}
