@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/main.module.css);
@import url(./blocks/mainText.module.css);
@import url(./blocks/message.module.css);
@import url(./blocks/form.module.css);
@import url(./blocks/adminButtons.module.css);
@import url(./blocks/imagePreloader.module.css);
@import url(./blocks/problem.module.css);
@import url(./blocks/policy.module.css);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #202020;
}

